In [1]:
import gensim
import pandas as pd

CA = True
ACA = False

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,index,pubid,year,answer,clue,length
0,0,cs,2012.0,LEA,Grazing ground,3.0
1,1,nyt,2012.0,CDS,They're shiny even after being burned,3.0
2,2,usa,1995.0,LIMA,Lofty SA capital,4.0
3,3,lat,1999.0,SALSA,It beats ketchup,5.0
4,4,nyt,2004.0,ANTEATER,Animal with no teeth,8.0

In [4]:
df["clue_answer"] = df["clue"] + " " + df["answer"]
df["answer_clue_answer"] = df["answer"] + df["clue"] + " " + df["answer"]

In [5]:
df.head()

,index,pubid,year,answer,clue,length,clue_answer
0,0,cs,2012.0,LEA,Grazing ground,3.0,Grazing ground LEA
1,1,nyt,2012.0,CDS,They're shiny even after being burned,3.0,They're shiny even after being burned CDS
2,2,usa,1995.0,LIMA,Lofty SA capital,4.0,Lofty SA capital LIMA
3,3,lat,1999.0,SALSA,It beats ketchup,5.0,It beats ketchup SALSA
4,4,nyt,2004.0,ANTEATER,Animal with no teeth,8.0,Animal with no teeth ANTEATER

In [6]:
df = df.dropna()

In [7]:
if CA:
    text = df.clue_answer.apply(gensim.utils.simple_preprocess)
if ACA:
    text = df.clue_answer_clue.apply(gensim.utils.simple_preprocess)

In [8]:
model = gensim.models.Word2Vec(
    window = 4,
    min_count = 2,
    workers = 4,
    epochs = 10
)

In [9]:
model.build_vocab(text, progress_per = 1000)

In [10]:
model.epochs

10

In [11]:
model.corpus_count

5130159

In [12]:
model.train(text, total_examples = model.corpus_count, epochs = model.epochs)

(178471952, 190429820)

In [13]:
model.save("10epoch4window.model")